@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="alert alert-secondary m-3" role="alert">
    <h4 class="alert-heading">Order is Updated</h4>    
</div>